.card {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.card-title {
    font-weight: 600;
    font-size: 1rem;
    color: #374151;
}

.card-value {
    font-size: 2rem;
    font-weight: bold;
    color: #111827;
    margin-top: 0.5rem;
}

.chart-container {
    width: 100%;
    height: 600px;
    position: relative;
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-bottom: 4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.chart-container canvas{
    width: 100% !important;
    height: 100% !important;
    display: block;
    object-fit: contain;
}

.chart-title {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    color: #374151;
}
