body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
}

.form-control,
.select2-container .select2-selection--single {
    height: 45px;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
}

.select2-container .select2-selection--single{
    display: flex;
    align-items: center;
}

.select2-container .select2-results__option {
    background-color: #ffffff; ;
    color: #000000;
}

.select2-container--default .select2-selection--single{
    height: 45px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
    color: #495057;
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    right: 10px;
    top: 0;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #2575fc;
    color: white;
}