.register-form .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 10px;
}

.register-form label:not(.data-pengurus) {
    font-weight: bold;
    color: black;
    width: 150px;
    text-align: left;
    margin-bottom: 6px;
}

.register-form .colon {
    width: 10px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form select {
    width: 100%;
    padding: 10px 12px !important;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    color: #333 !important;
    background-color: white;
}


.register-form .text-error {
    color: #f87171;
    font-size: 0.875rem;
    margin-top: 4px;
}
