{% load static %}
{% load django_browser_reload %}
{% django_browser_reload_script %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Form{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/form_submit.js' %}"></script>
    
    <link rel="stylesheet" href="{% static "css/base_form.css" %}">

    <link rel="icon" type="image/png" href="{% static 'image/logokoni.png' %}">
    
    {% block extra_head %}{% endblock %}
</head>

<body class=" min-h-screen" style="background: linear-gradient(50deg, #1a2980, #26d0ce);">
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full md:w-1/2 px-4">
            <div class="bg-white p-5 rounded-lg shadow-md w-full" >
                <div class="text-white p-2 rounded-lg shadow-md" style="background: linear-gradient(50deg, #1a2980, #26d0ce);">
                    <h2 class="text-2xl font-semibold text-center text-white mb-0">
                        {% block form_title %}Form Title{% endblock %}
                    </h2>
                </div>
                <div class="pt-4">
                    {% block form_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div id="successModal">
        <div class="modal-content">
            <p> Form submmitted successfully!</p>
            <button id="modalOkBtn">OK</button>
        </div>
    </div>

    <div id="notifModal" class="hidden modal fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-lg p-6 relative">
            <h2 class="text-xl font-semibold mb-4 text-gray-600 mb-3">Notifikasi</h2>
            <p id="notifModalMessage" class="text-gray-700 text-center"></p>
            <div class="mt-4 text-center">
                <button id="okNotifModal" class="bg-blue-600 text-white px-4 py-2 rounded">OK</button>
            </div>
        </div>
    </div>

    <div id="errorModal" class="hidden modal fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-lg p-6 relative">
            <h2 class="text-xl font-semibold mb-4 text-gray-600 mb-3">Terjadi Kesalahan</h2>
            <p id="errorModalMessage" class="text-gray-700 text-center"></p>
            <div class="mt-4 text-center">
                <button id="okErrorModal" class="bg-blue-600 text-white px-4 py-2 rounded">OK</button>
            </div>
        </div>
    </div>

    <div id="confirmationModal" class="hidden modal fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg shadow-lg max-w-sm w-full mx-4 p-6 relative">
            <h2 class="text-lg font-semibold text-gray-600 mb-3">Konfirmasi</h2>
            <p id="confirmationModalMessage" class="text-gray-700 text-center mb-4"></p>
            <div class="flex justify-center gap-4">
                <button id="cancelConfirmationBtn" class="bg-gray-400 text-white px-4 py-2 rounded">Batal</button>
                <button id="okConfirmationBtn" class="bg-blue-600 text-white px-4 py-2 rounded">Ya</button>
            </div>
        </div>
    </div>

    <script src={% static "js/base.js" %}></script>
    {% block extra_script %}
    {% endblock  %}
</body>
</html>



