{% extends "base_form.html" %}
{% load static %}

{% block title %}Absen Pengurus KONI{% endblock %}

{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'css/kehadiran_form.css' %}">
{% endblock %}

{% block form_title %}Absensi Pengurus Digital KONI{% endblock %}

{% block form_content %}
    <form action="{% url 'kehadiran_submit' %}" method="post" class="space-y-4 ajax-submit">
        {% csrf_token %}
        {{form.non_field_errors}}

        {% for field in form %}
            <div class="mb-4">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <div class="text-red-500">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="text-center mt-4">
            <button type="submit">Kirim</button>
        </div>
    </form>
{% endblock %}
