{% extends "base_form.html" %}
{% load static %}

{% block title %}Absen Pengurus KONI{% endblock %}

{% block extra_head %} 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="{% static 'css/pengurus_form.css' %}">
{% endblock %}

{% block form_title %}Buku Pengurus Digital KONI{% endblock %}

{% block form_content %}
    <form action="{% url 'pengurus_submit' %}" method="post" class="space-y-4">
        {% csrf_token %}
        {{form.non_field_errors}}

        {% for field in form %}
            <div class="mb-4">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <div class="text-red-500">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Kirim</button>
        </div>
    </form>
{% endblock %}
